.feynman {
  display: flex;
  padding-top: 80px;
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}
