.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: black;
}

.blue {
  color:#2f80ed;
}

.white {
  color:#fff;
}

.absolute{
  position: absolute;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

/*
div, h1, h2, h3, h4, h5, h6, p, a, img, main, section, ul, li {
  border: 1px solid red;
}
*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  width: 183px;
  z-index: 4;
}

.logo_place_header {
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}
.header__link{
  text-decoration: none;
  z-index: 2;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.content {
  position: relative;
}

/*
.description {

}
*/

.two-columns {
  width: 80%;
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph_position_center {
  margin: 30px 0;
}


.digits {
  padding: 0 0 100px;
}


.section-title {
  margin: 0 auto 20px;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  text-decoration: none;
  margin: 0 auto;
  width: 1100px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  padding: 0;
  list-style-type: none;
}

.table__cell {
  margin: 60px 0 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
}

.table__text_position_bottom {
  margin: 0;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  height: 790px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 100px auto 70px;
  z-index: 3;
  line-height: 1.15;
  font-size: 120px;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.section-title_theme_dark {
  position: relative;
  z-index: 3;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 3;
}

.table_theme_dark {
  position: relative;
  z-index: 3;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__text_theme_dark {
  margin-bottom: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*
.footer__column_content_info{

}
*/

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__link-body {
  margin: 0;
}

.footer__link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
}

/*
.footer__column_content_social {

}
*/

.footer__social-icon {
  padding-right: 16px;
  margin-right: 10px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left;
}


.footer__fb-link {
  background-image: url(../images/facebook_color_white.svg);
}

.footer__vk-link {
  background-image: url(../images/vk_color_white.svg);
}

.footer__inst-link {
  background-image: url(../images/instagram_color_white.svg);
}
